* {
    scroll-behavior: smooth;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    color: #25265EB3;
    font-family: 'Freehand', cursive;
}
h3 {
    font-family: 'Moulpali', cursive;
}

.footer {
    padding: 2rem 0;
    border-top: 1px solid #eaeaea;
}


/* style slider img */
.mySlides {
    display: none
}

img {
    vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}
/* style for btn go to top */
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    padding: 8px;
    z-index: 99;
    border-radius: 4px;
    font-size: 15px;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: rgb(235, 10, 10);
    color: white;
}

/* style css for footer */
.column {
    float: left;
    width: 33.33%;
    padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {
    margin: 0 -5px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.footer-box {
    color: #FFF;
    width: 100%;
    background-color: rgba(6, 6, 6, 7);
    padding: 2%;
}
#btn-angkor-wat:hover{
    cursor: pointer;
}
/* Hide the main scrollbar */
::-webkit-scrollbar {
    display: none;
}

/* Hide the scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
    display: none;
}

/* Hide the scrollbar track (the background) */
::-webkit-scrollbar-track {
    display: none;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    body {
        font-size: 13px;
        margin-left: 2.5%;
        margin-right: 2.5%;
    }

    .title {
        font-size: 23px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    body {
        font-size: 13px;
        margin-left: 4%;
        margin-right: 4%;
    }

    .title {
        font-size: 30px;
    }
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    body {
        font-size: 15px;
        margin-left: 5%;
        margin-right: 5%;
    }

    .title {
        font-size: 30px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    body {
        font-size: 15px;
        margin-left: 5%;
        margin-right: 5%;
    }

    .title {
        font-size: 30px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    body {
        font-size: 15px;
        margin-left: 5%;
        margin-right: 5%;
    }

    .title {
        font-size: 30px;
    }
}


/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {

    .prev,
    .next,
    .text {
        font-size: 11px
    }
}

/* Responsive columns */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}