@import url('https://fonts.googleapis.com/css2?family=Suwannaphum:wght@300;400&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
}
.apasra-bg{
    background-image: url('/image/bg-apsara.jpg');
    width: 100%;
    height: 300vh;
    background-size: contain;
    filter: blur(2px);
    position: relative;
}
.apsara-container{
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    display: flex;
}
.left{
    width: 70%;
    height: 100%;
    background-color: white;
    margin: 0 auto;
    margin-top: 30px;
    padding: 10px 20px;
}
.right{
    width: 25%;
    height: 100%;
    margin-top: 30px;
    padding: 10px 20px;
}
.title{
    font-family: 'Suwannaphum', serif;
    text-align: center;
}
.apsara-image-box{
    width: 100%;
    height: 300px;
    display: flex;
}
.apsara-image-box .box{
    width: 25%;
    height: 100%;
    background-color: white;
    padding: 10px;
}
.apsara-image-box .box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.right-sub{
    width: 100%;
    height: auto;
    background-color: white;
    padding: 10px;
    margin-bottom: 10px;
}
.right-box{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.right-img{
    width: 25%;
    height: 100%;
}
.right-content{
    width: 73%;
    height: 100%;
}
.right-content a{
    color: black;
}