@import url('https://fonts.googleapis.com/css2?family=Suwannaphum:wght@300;400&display=swap');
.bayon-bg{
    background-image: url('/image/bayon1.webp');
    width: 100%;
    height: 280vh;
    background-size: contain;
    filter: blur(13px);
    position: relative;
}
.bayon-container{
    width: 100%;
    height: auto;
    position: absolute;
    top: 50px;
}
.bayon-sub-container{
    width: 95%;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.contain-left{
    width: 75%;
    height: auto;
    background-color: white;
    padding: 10px;
}
.contain-right{
    width: 23%;
    height: 100%;
    padding: 10px;
}
.title{
    font-family: 'Suwannaphum', serif;
    text-align: center;
}