@import url('https://fonts.googleapis.com/css2?family=Suwannaphum:wght@300;400&display=swap');
.bayon-bg{
    background-image: url('/image/bayon1.webp');
    width: 100%;
    height: 280vh;
    background-size: contain;
    filter: blur(13px);
    position: relative;
}
.bayon-container{
    width: 100%;
    height: auto;
    position: absolute;
    top: 50px;
}
.bayon-sub-container{
    width: 95%;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.contain-left{
    width: 75%;
    height: auto;
    background-color: white;
    padding: 10px;
}
.contain-right{
    width: 23%;
    height: 100%;
    padding: 10px;
}
.title{
    font-family: 'Suwannaphum', serif;
    text-align: center;
}
@media (max-width: 575.98px){
    .header{
        padding: 5px !important;
    }
    .header img {
        width: 100px !important;
    }
    .head-menu ul li a{
        font-size: 10px;
    }
    .footer{
        display: flex;
        flex-direction: column;
        height: 300px !important;
        padding: 30px 50px !important;
    }
    .follow-us{
        text-align: center;
        margin-bottom: 20px !important;
        font-size: 15px;
    }
    .useful-links,
    .latest{
        text-align: start;
        width: 100%;
    }
    .footer .useful-links ul li a,
    .footer .latest ul li a{
        font-size: 15px !important;
        margin-bottom: 10px;
    }
    .bayon-bg{
        height: 4600px;
    }
    .contain-left .title{
        font-weight: 700;
        font-size: 16px;
    }
    .contain-left{
        width: 100%;
    }
    .bayon-sub-container{
        flex-direction: column;
    }
    .contain-right{
        column-gap: 10px;
        display: flex;
    }
    .contain-right img{
        width: 160px;
        border-radius: 10px;
        border: 5px double green;
    }
    .contain-right img{
        display: none;
    }
} 


/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 375px) and (max-width: 568px){
    .header{
        padding: 5px !important;
    }
    .header img {
        width: 120px !important;
    }
    .head-menu ul li a{
        font-size: 12px;
    }
    .footer{
        display: flex;
        flex-direction: column;
        height: 300px !important;
        padding: 30px 50px !important;
    }
    .follow-us{
        text-align: center;
        margin-bottom: 20px !important;
        font-size: 15px;
    }
    .useful-links,
    .latest{
        text-align: start;
        width: 100%;
    }
    .footer .useful-links ul li a,
    .footer .latest ul li a{
        font-size: 15px !important;
        margin-bottom: 10px;
    }
    .bayon-bg{
        height: 4000px;
    }
    .contain-left .title{
        font-weight: 700;
        font-size: 16px;
    }
    .contain-left{
        width: 100%;
    }
    .bayon-sub-container{
        flex-direction: column;
    }
    .contain-right{
        column-gap: 10px;
        display: flex;
    }
    .contain-right img{
        width: 160px;
        border-radius: 10px;
        border: 5px double green;
    }
    .contain-right img:nth-child(5),
    .contain-right img:nth-child(6),
    .contain-right img:nth-child(4),
    .contain-right img:nth-child(3){
        display: none;
    }

}
@media (min-width: 425px) and (max-width: 568px){
    .header{
        padding: 5px !important;
    }
    .header img {
        width: 120px !important;
    }
    .head-menu ul li a{
        font-size: 12px;
    }
    .footer{
        display: flex;
        flex-direction: column;
        height: 300px !important;
        padding: 30px 50px !important;
    }
    .follow-us{
        text-align: center;
        margin-bottom: 20px !important;
        font-size: 15px;
    }
    .useful-links,
    .latest{
        text-align: start;
        width: 100%;
    }
    .footer .useful-links ul li a,
    .footer .latest ul li a{
        font-size: 15px !important;
        margin-bottom: 10px;
    }
    .bayon-bg{
        height: 3700px;;
    }
    .contain-left .title{
        font-weight: 700;
        font-size: 18px;
    }
    .contain-left{
        width: 100%;
    }
    .bayon-sub-container{
        flex-direction: column;
    }
    .contain-right{
        column-gap: 10px;
        display: flex;
    }
    .contain-right img{
        width: 190px;
        border-radius: 10px;
        border: 5px double green;
    }
    .contain-right img:nth-child(5),
    .contain-right img:nth-child(6),
    .contain-right img:nth-child(4),
    .contain-right img:nth-child(3){
        display: none;
    }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
    .bayon-bg{
        height: 2700px;
    }
    .contain-left .title{
        font-weight: 700;
        font-size: 24px;
    }
    .contain-left{
        width: 100%;
    }
    .bayon-sub-container{
        flex-direction: column;
    }
    .contain-right{
        column-gap: 10px;
        display: flex;
    }
    .contain-right img{
        width: 170px;
        border-radius: 10px;
        border: 5px double green;
    }
    .contain-right img:nth-child(5),
    .contain-right img:nth-child(6){
        display: none;
    }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
    .bayon-bg{
        height: 440vh;
    }
    .contain-left .title{
        font-weight: 700;
        font-size: 28px;
    }
    .bayon-container{
        top: 75px;
    }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1000px) {
    .bayon-bg{
        height: 2400px;
    }
    .bayon-container{
        top: 80px;
    }
    .contain-right img{
        margin-bottom: 60px !important;
        object-fit: cover;
    }
}
@media (min-width: 2560px) {
    .bayon-bg{
        height: 2000px;
    }
    .contain-left{
        height: 1300px !important;
    }
}