@import url('https://fonts.googleapis.com/css2?family=Hanuman:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Suwannaphum:wght@300&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Hanuman', serif;
}
.footer{
    background-color: #3f87a6;
    height: 150px;
    display: flex;
    justify-content: space-between;
    padding: 0px 30px 0px 70px;
    overflow: hidden;
    align-items: center;
}
.footer .useful-links ul,
.footer .latest ul{
    padding: 0;
}
.footer .useful-links ul li,
.footer .latest ul li{
    list-style: none;
    display: flex;
    flex-direction: column;
}
.footer .useful-links ul li a,
.footer .latest ul li a{
    font-family: 'Suwannaphum', serif;
    color: black;
    padding: 0px 10px;
    font-size: 20px;
}
.footer .useful-links ul li a:hover,
.footer .latest ul li a:hover,
.footer .follow-us a:hover{
    color: white;
}
.footer .follow-us{
    display: flex;
    flex-direction: column;
}