*{
    margin: 0;
    box-sizing: border-box;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3f87a6;
    padding: 0 50px;
    height: 50px;
    overflow: hidden;
    position: sticky;
    top: 0;
    z-index: 99;
}
.header img{
    width: 200px;
}
.header .head-menu ul{
    padding: 0;
}
.header .head-menu ul li{
    list-style: none;
}
.header .head-menu ul li a{
    text-decoration: none;
    color: black;
    padding: 0px 10px;
}
.header .head-menu ul li a:hover{
    color: white;
}
