<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="https://cdn-icons-png.flaticon.com/512/3573/3573187.png">
    <link rel="stylesheet" href="/bootstrap/bootstrap.min.css">
    <title>បេ​តិក​ភ័​ណ្ឌ​ពិភពលោក</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
</head>

<body>
    <!-- header -->
    <div class="header">
        <img src="/image/logo.png" alt="logo">
        <!-- Home About Contact -->
        <div class="head-menu">
            <ul>
                <li>
                    <a href="/html/layout/main.html">ទំព័រដើម</a>
                    <a href="https://intocambodia.org/category/world-heritage">អំពីគេហទំព័រ</a>
                    <a href="#">ទំនាក់ទំនង</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- content -->
    <div class="main">
        <h2 class="title">បេ​តិក​ភ័​ណ្ឌ​ពិភពលោក</h2>
        <div class="data-row">
            <div class="data-column">
                <div class="column column-img">
                    <img src="/image/angkor-wat.jpg" alt="/image/angkor-wat.jpg" width="100%" id="image" height="200px">
                </div>
                <div class="column column text">
                    <span class="column-title">
                        <h3 id="title">អង្គរវត្ត គឺជាវិមានសំខាន់នៃតំបន់អង្គរ</h3>
                    </span>
                    <p class="column-detail" id="detail">
                        ប្រទេស​កម្ពុជា​ ជា​កន្លែង​នៃ​ប្រាសាទ​ពុទ្ធសាសនា​ដែល​គេ​ស្គាល់​ថា ​ជា​ប្រាសាទ​អង្គរវត្ត​អស់​ជាច្រើន​សតវត្ស​មកហើយ។
    ប្រាសាទនេះមានទំហំជាង 4 ហិចតា គឺជាវិមានសាសនាដ៏ធំបំផុតមួយនៅក្នុងពិភពលោក។
    ចាប់តាំងពីត្រូវបានសាងសង់ឡើងដោយព្រះបាទសូរ្យវរ្ម័នទី២ ដែលបានគ្រប់គ្រងទឹកដី ពីឆ្នាំ ១១១៣ ដល់ឆ្នាំ
    ១១៥០ ប្រាសាទត្រូវបានគេចាត់ទុកថាជា "ទីក្រុងប្រាសាទ" នៅក្នុងទឹកដីសុវណ្ណភូមិនេះ ដូចជាមជ្ឈមណ្ឌលនយោបាយ
    និងប្រាសាទរបស់រដ្ឋ។
                    </p>
                    <button class="read-more" id="angkorWat">
                        <b>អានបន្ថែម</b>
                    </button>
                </div>
            </div>
            <div class="data-column">
                <div class="column column-img">
                    <img src="/image/apsara.jpg" alt="/image/angkor-wat.jpg" width="100%" id="image" height="200px">
                </div>
                <div class="column column text">
                    <span class="column-title">
                        <h3 id="title">របាំអប្សរា គឺជាល្ខោនខោលសម្រាប់របាំព្រះរាជទ្រព្យកម្ពុជា</h3>
                    </span>
                    <p class="column-detail" id="detail">
                        ទម្រង់របាំបុរាណជាច្រើននៅក្នុងប្រទេសកម្ពុជា សុទ្ធសឹងតែជាទម្រង់សិល្បៈដែលមានស្ទីលខ្ពស់ ធ្លាប់ត្រូវបានបង្ខាំងទុកជាចម្បងនៅក្នុងតុលាការនៃព្រះបរមរាជវាំង និងសម្តែងជាចម្បងដោយស្ត្រី។
    គេស្គាល់ជាផ្លូវការជាភាសាខ្មែរថា របាំអប្សរា ហើយអ្នករបាំនៃទម្រង់បុរាណនេះ ច្រើនតែហៅថា អ្នករបាំអប្សរា។ របាំអប្សរា គឺជារបាំមួយក្នុងចំណោមរបាំជាច្រើននៅក្នុងរបាំបុរាណខ្មែរ។
    របាំ​នេះ​ត្រូវ​បាន​បង្កើត​ឡើង​នៅ​ពាក់​កណ្តាល​សតវត្ស​ទី​២០ ដោយ​របាំ​ព្រះរាជទ្រព្យ​កម្ពុជា ក្រោម​ការ​ឧបត្ថម្ភ​របស់​ព្រះនាង​ស៊ីសុវត្ថិ កុសមៈ។
    ទម្រង់របាំនេះត្រូវបានណែនាំជាលើកដំបូងទៅកាន់បរទេស និងល្បីល្បាញក្នុងអំឡុងទសវត្សរ៍ឆ្នាំ <b>១៩៦០</b> ថាជារបាំព្រះរាជទ្រព្យខ្មែរ។ 
    អ្នករាំរបាំព្រះរាជទ្រព្យដំបូងគឺព្រះអង្គម្ចាស់នរោត្តមសីហនុ។
                    </p>
                    <button class="read-more" id="apsara">
                        <b>អានបន្ថែម</b>
                    </button>
                </div>
            </div>
        </div>
        <div class="data-row">
            <div class="data-column">
                <div class="column column-img">
                    <img src="/image/downlaod.jpg" alt="koh-ker" width="100%" id="image" height="200px">
                </div>
                <div class="column column text">
                    <span class="column-title">
                        <h3 id="title">ប្រាសាទកោះកេរ្តិ៍ គឺជាទីតាំងបុរាណវត្ថុ</h3>
                    </span>
                    <p class="column-detail" id="detail">
                        ប្រាសាទកោះកេរ្តិ៍ គឺជាទីតាំងបុរាណវត្ថុដែលដាច់ស្រយាលមួយនៅភាគខាងជើង នៅខេត្តព្រះវិហារ នៃប្រទេសកម្ពុជា ដែលមានចម្ងាយប្រហែល ១២០គីឡូម៉ែត្រ ពីខេត្តសៀមរាប 
    និងជារមណីយដ្ឋានអង្គរ។ ជាតំបន់ពោលពេញទៅដោយព្រៃជាច្រើនអនេកដែលមានប្រជាជនរស់នៅតិចតួច។ ជម្រកជាង១៨០ ត្រូវបានរកឃើញនៅក្នុងតំបន់ការពារដែលមានផ្ទៃដី 
    ៨១គីឡូម៉ែត្រការ៉េ ។ តំបន់មិនទាន់ត្រូវបានដោះមីនទាំងស្រុងនោះទេ។
                    </p>
                    <button class="read-more" id="koh-ker">
                        <b>អានបន្ថែម</b>
                    </button>
                </div>
            </div>
            <div class="data-column">
                <div class="column column-img">
                    <img src="/image/bakong.jpg" alt="bakong" width="100%" id="image" height="200px">
                </div>
                <div class="column column text">
                    <span class="column-title">
                        <h3 id="title">ប្រាសាទបាគង គឺជាប្រាសាទរលួសនៃតំបន់អង្គរ</h3>
                    </span>
                    <p class="column-detail" id="detail">
                        ប្រាសាទបាគង ឬហៅម្យ៉ាងទៀតថា ឥន្ទ្រវរា គឺជាប្រាសាទដ៏ស្រស់ស្អាតបំផុតមួយក្នុងខេត្តសៀមរាប ហើយជាប្រាសាទភ្នំថ្មភក់ដំបូងគេដែលត្រូវបានកសាងឡើង
    ដោយអ្នកគ្រប់គ្រងនៃអាណាចក្រខ្មែរនៅអង្គរក្បែរក្រុងសៀមរាបសម័យទំនើបក្នុងប្រទេសកម្ពុជា។ ក្នុងទស្សវត្សរ៍ចុងក្រោយនៃសតវត្សទី៩ នៃគ.ស វាបានបម្រើការ 
    ជាប្រាសាទរដ្ឋផ្លូវការរបស់ព្រះបាទឥន្ទ្រវរ្ម័នទី១ ក្នុងទីក្រុងបុរាណហរិហរាល័យ ដែលមានទីតាំងនៅតំបន់ដែលសព្វថ្ងៃហៅថារលួស។
                    </p>
                    <button class="read-more" id="bakong">
                        <b>អានបន្ថែម</b>
                    </button>
                </div>
            </div>
        </div>
        <div class="data-row">
            <div class="data-column">
                <div class="column column-img">
                    <img src="/image/bayon.jpg" alt="bayon" width="100%" id="image" height="200px">
                </div>
                <div class="column column text">
                    <span class="column-title">
                        <h3 id="title">ប្រាសាទបាយ័ន គឺជាប្រាសាទសំខាន់នៃអង្គរធំក្នុងតំបន់អង្គរ</h3>
                    </span>
                    <p class="column-detail" id="detail">
                        ប្រសាទបាយ័ន គឺត្រូវបានស្គាល់យ៉ាងច្បាស់និង ជាប្រាសាទខ្មែរដែលរចនាបានយ៉ាងប្រណិតនៅក្នុងតំបន់អង្គរនៅកម្ពុជា។ ត្រូវបានកសាងឡើងក្នុងចុងសតវត្សទី 12 រឺដើមសតវត្សទី13
    ដែលជាប្រាសាទតំណាង នៃពុទ្ធសាសនា មហាយានជ័យវរម្ម័នទី7 (Mahaya Buddist King Jayvarman VII) មានទីតាំងនៅចំណុចកណ្តាលនៃរាជធានីរបស់ជ័យវរ្ម័ន, អង្គរធំ។
                    </p>
                    <button class="read-more" id="bayon">
                        <b>អានបន្ថែម</b>
                    </button>
                </div>
            </div>
            <div class="data-column">
                <div class="column column-img">
                    <img src="/image/chapei.jpg" alt="chapei" width="200px" id="image" height="200px">
                </div>
                <div class="column column text">
                    <span class="column-title">
                        <h3 id="title">ចាប៉ីដងវែង</h3>
                    </span>
                    <p class="column-detail" id="detail">
                        ចាប៉ីដងវែង (ជាហ្គីតាខ្មែរពីរខ្សែ កវែង) ប្រើក្នុងវង់ភ្លេងអារក្ស និងភ្លេងការ។ ជាងនេះទៅទៀត វា​ក៏​ត្រូវ​បាន​គេ​ប្រគុំ​ជា​ឧបករណ៍​ទោល​អម​ជាមួយ​នឹង​កំណាព្យ 
    ការនិទានរឿង​ប្រជាប្រិយ ការ​ច្រៀង​តាម​ស្ទីល​ជជែក​វែកញែក និង​ការ​និទាន​រឿង​ប្រឌិត។ ដោយ​សារ​ឧបករណ៍​ដ៏​ពិសេស​នេះ​បាន​នាំ​មក​នូវ​ការ​ពេញ​និយម​យ៉ាង​ខ្លាំង​តាំង​ពី​សម័យ
    ​ដើម​រហូត​មក​ដល់​សព្វ​ថ្ងៃ ហើយ​តន្ត្រី​របស់​វា​ត្រូវ​បាន​ប្រជាជន​ខ្មែរ​ពេញ​ចិត្ត​ជា​ច្រើន​ជំនាន់​មក​ហើយ។
                    </p>
                    <button class="read-more" id="chapei">
                        <b>អានបន្ថែម</b>
                    </button>
                </div>
            </div>
        </div>
        <div class="data-row">
            <div class="data-column">
                <div class="column column-img">
                    <img src="/image/lakhon.jpg" alt="lakhon" width="100%" id="image" height="200px">
                </div>
                <div class="column column text">
                    <span class="column-title">
                        <h3 id="title">ល្ខោនខោល (ល្ខោន​របាំង​មុខ​បុរស)</h3>
                    </span>
                    <p class="column-detail" id="detail">
                        បេតិកភណ្ឌរូបិយ និងអរូបិយជាច្រើនរបស់កម្ពុជាបានជួយប្រទេសឱ្យមានភាពល្បីល្បាញនៅលើឆាកអន្តរជាតិ ហើយពួកគេគឺជាតួអង្គសំខាន់មួយនៅលើឆាកបេតិកភណ្ឌពិភពលោក។ 
    ម្នាក់​ក្នុង​ចំណោម​នោះ​គឺ ល្ខោនខោល។
                    </p>
                    <button class="read-more" id="lakhon">
                        <b>អានបន្ថែម</b>
                    </button>
                </div>
            </div>
            <div class="data-column">
                <div class="column column-img">
                    <img src="/image/mekhala.jpg" alt="mekhala" width="200px" id="image" height="200px">
                </div>
                <div class="column column text">
                    <span class="column-title">
                        <h3 id="title">របាំព្រះមណីមេខលា គឺជារបាំព្រះរាជទ្រព្យនៃព្រះរាជាណាចក្រកម្ពុជា</h3>
                    </span>
                    <p class="column-detail" id="detail">
                        កម្ពុជា​ ជា​ប្រទេស​ពោរពេញ​ដោយ​វប្បធម៌ និង​សម្បូរ​អរិយធម៌​នៅ​អាស៊ីអាគ្នេយ៍។ ក្រៅ​ពី​បេតិកភណ្ឌ​វប្បធម៌ ប្រាសាទ​បុរាណ និង​សិល្បៈ​ប្រពៃណី នៅ​មាន​បេតិកភណ្ឌ​វប្បធម៌​អរូបិយ
    គ្រប់​ទីកន្លែង​ក្នុង​ប្រទេស​កម្ពុជា។ ក៏មានបេតិកភណ្ឌវប្បធម៌អរូបិយផ្សេងៗគ្នាជាច្រើនរបស់ដូនតាខ្មែរផងដែរ។ របាំប្រពៃណីខ្មែរមានក្បាច់ផ្សេងៗ។ របាំ​មួយ​ក្នុង​ចំណោម​នោះ​  
    គឺ​របាំ​ព្រះមុនី​មេខឡា​ដែល​ជា​របាំ​ប្រពៃណី​ដែល​មាន​ប្រជាប្រិយ​ភាព​ក្នុង​ចំណោម​ប្រជាជន​កម្ពុជា។
                    </p>
                    <button class="read-more" id="mekhala">
                        <b>អានបន្ថែម</b>
                    </button>
                </div>
            </div>
        </div>
        <!-- <div class="data-row" id="data-row"></div> -->
    </div>
    <!-- footer -->
    <div class="footer">
        <div class="follow-us">
            <span>Follow us : </span>
            <span>
                &copy; 2012-2023 
                <a href="https://intocambodia.org/">IntoCambodia.org</a>
            </span>
        </div>
        <div class="useful-links">
            <ul>
                <li>
                    <a href="https://intocambodia.org/about-us">អំពីគេហទំព័រ</a>
                    <a href="#">ទំនាក់ទំនង</a>
                    <a href="#">គោលការណ៌ឯកជន</a>
                </li>
            </ul>
        </div>
        <div class="latest">
            <ul>
                <li>
                    <a href="https://intocambodia.org/content/pchum-ben-day-or-ancestor-day">បុណ្យភ្ជុំបិណ្ឌ ឬបុណ្យដូនតា</a>
                    <a href="https://intocambodia.org/content/kampong-thom-province">ខេត្តកំពង់ធំ</a>
                    <a href="https://intocambodia.org/content/siem-reap-province">ខេត្តសៀមរាប</a>
                </li>
            </ul>
        </div>
    </div>
</body>
<script src="/javascript/content.js"></script>
</html>